/* CSS for Category page(man,woman,item)*/

.titleArea {
    position: relative;
    margin: 20px 0;
    text-align: center;
    padding: 0 0 15px;
}

.titleArea h2 {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 16px;
    line-height: 1.0;
    font-weight: normal;
    letter-spacing: 2px;
}

.searchbox {
    justify-content: center;
    /* display: flex; */
    margin: 80px 0;
    padding: 0;
    text-align: center;
}

.search-price {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    text-align: left;
}

.title {
    margin: 0 20px 0 0;
    font-size: 11px;
    line-height: 28px;
}

.search-keyword {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    text-align: left;
}

.searchbtn {
    border: none;
    font-size: 11px;
    background: transparent;
    text-decoration: none;
}


.message {
    text-align: center;
}

p {
    text-align: center;
}

/*-----------------product------------------*/

#product1 {
    text-align: center;
    margin-top: 60px;
}

#product .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    text-align: center;
    float: left;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product .pro .des {
    text-align: start;
    padding: 10px 0;
    display: grid;
}

#product .pro .des h5 {
    padding-top: 7px;
    color: #111;
    font-size: 14px;
}

.section-p1 {
    display: flex;
}

/*-----------------product------------------*/